@model RedeCidada.Models.ProfessorModel
@{
    ViewBag.Title = "Cadastrar Professor";
    Layout = "~/Views/Shared/_LayoutAdm.cshtml";
}

<h2>Novo Professor</h2>
@using (Html.BeginForm("Cadastrar", "Professor", FormMethod.Post, new { }))
{
    <div style="min-height:400px;">

        <div class="form-group">
            @Html.LabelFor(model => model.Nome)
            @Html.TextBoxFor(model => model.Nome, new { @class = "form-control" })
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Polo)
            @Html.TextBoxFor(model => model.Polo, new { @class = "form-control" })
        </div>
        <hr />

        <button class="btn btn-primary" type="submit">
            <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>&nbsp;Cadastrar
        </button>

    </div>
}

